CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_POSIX_TIMERS=y
CONFIG_PRINTK=y
CONFIG_BASE_FULL=y
CONFIG_AIO=y
CONFIG_VIRTUALIZATION=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_KVM=y
CONFIG_KVM_INTEL=y
CONFIG_KSM=y
CONFIG_PACKET=y
CONFIG_BRIDGE=y
CONFIG_NETDEVICES=y
CONFIG_USB_USBNET=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_TARGET_LOG=y
CONFIG_NETFILTER_XT_MATCH_PKTTYPE=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_NF_NAT=y
CONFIG_NFT_TUNNEL=y
CONFIG_NFT_COMPAT=y
CONFIG_NF_TABLES=y
CONFIG_NF_TABLES_INET=y
CONFIG_NF_CONNTRACK=y
CONFIG_TUN=y
CONFIG_INPUT_EVDEV=y
CONFIG_I2C=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_HID_ACPI=y
CONFIG_LPC_SCH=y
CONFIG_MFD_INTEL_LPSS_PCI=y
CONFIG_VFIO=y
CONFIG_VFIO_PCI=y
CONFIG_VIRT_DRIVERS=y
CONFIG_VHOST_MENU=y
CONFIG_VHOST_NET=y
CONFIG_VHOST_VSOCK=y
CONFIG_VSOCKETS=y
CONFIG_IRQ_REMAP=y
CONFIG_TRIM_UNUSED_KSYMS=n
